*{
	font-family: 'Roboto', sans-serif;	
}

html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.top_nav{
	position:fixed;
	width: 100%;
	padding-top:20px;
	padding-bottom:20px;
	background-color: white;
}

.top_move{
	float:right;
	right:20px;
}

.top_a{
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left:-4px;
	text-decoration: none;
	color:black;
	font-family: 'Roboto', sans-serif;
	line-height:1px
}

.top_a:hover{
	border-top:5px solid black;
}

.background{
	background-image: url("cleansolar.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
}

.content{
	height: 100%;
	width: 100%;
	padding:20px;
	background-color: #99B898;
}

.ct{
	width: 100%;
	height: 100%;
	margin:0;
	padding: 20px;
}
p{
	width:50%;
}

.dot_nav{
    margin-right:15px;
    padding: 0;
    float: right;
    right: 0;
    position:fixed;
    top: 50%;
  	transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
}

.dot_a{
    border-radius: 50%;
    border: 2px solid white;
    background-color: whitesmoke;
    padding: 3px;
    display: block;
    margin: 14px auto;
    position: relative;
    text-decoration:none;
    color:black;
}
.dot_a:hover{
	background-color: transparent;
}
.dot_a:hover .tooltip{
	visibility: visible;
}

.selected_a{
	border-top:5px solid black;
}

.selected{
	background-color: transparent;
}

.tooltip{
    visibility: hidden;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 2.5px;
    position: absolute;
    z-index: 1;
    top: -7.5px;
    right: 220%;
}
.tooltip::after {
	content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent white;
}


h1{
	margin: 0;
}
